ul,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu {
  display: flex;
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
  column-gap: 10px;
}

.contact-form {
  padding: 30px;
}

.contact-form > div {
  margin-bottom: 10px;
}

.contact-form > div > label {
  display: block;
}

.contact-form > div > input,textarea {
  padding: 15px;
}